/*
 *= require_self
 *= require simple_calendar
 *= require_tree .
 */

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

p {
  margin: 0
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

table, tr, td, th {
  border: solid 2px black;
}

.btn {
  font-weight: bold;
  width: 100px;
  height: 25px;
  margin: 10px auto;
  line-height: 25px;
  text-align: center;
  padding: 0;
  border: solid 4px black;
  box-shadow: 0px 3px 2px #092e01;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}

.btn:active {
  box-shadow: 0px 0px;
}

.contents {
  display: table;
  max-width: 1200px;
  margin: 0 auto;
}

.column {
  display: table-cell;
  background-color: #07742F;
  min-width: 60px;
  height: 100%;
}

.main {
  display: table-cell;
  width: 100%;
  max-width: 1080px
  margin: 0 auto;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
  background-color: #E0EBC9;
}

body {
  margin: 0 auto;
  font-size: 1.3rem;
}

header {
  height: 4rem;
  width: 100%;
  background-color: #C83737;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header .header-link {
  color: #fff;
  font-size: 1.3rem;
  margin: 1rem;
}

header .header-disp {
  height: 4rem;
  line-height: 4rem;
}

header .header-list li {
  display: inline-block;
}
