.tournament-contents {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 2000px;
  padding: 0;
}

.column {
  background-color: #07742F;
  height: 100%;
}

.left-column {
  width: 240px;
}

.right-column {
  width: 60px;
}

.tournament-list-main {
  width: 100%;
  margin: 0 auto;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
}

.search {
  margin: 20px;
  color: white;
}

.search > div {
  padding-bottom: 10px;
}

.refine-search {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.checkbox {
  background-color: #E0EBC9;
  border-radius: 5px;
  padding: 5px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}

.checkbox > label {
  height: 20px;
}

.area-input{
  display: none;
}

.area-parts{
  padding-left: 20px;
  position:relative;
  margin: 5px 10px;
  color: black;
}

.area-parts::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.3rem;
  height: 1.3rem ;
  border: 1px solid #999;
  border-radius: 2px;
  background-color: white;
}

.area-input:checked + .area-parts{
  color: #07742F;
}

.area-input:checked + .area-parts::after{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #009a9a;
  border-right: 3px solid #009a9a;
}

.search-box {
  position: relative;
}

.search-box::before {
  content: "\f002";
  display: block;
  color: black;
  font-size: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 7px;
  height: 14px;
}

.search > .btn {
  font-weight: bold;
  width: 100px;
  height: 25px;
  margin: 10px auto;
  line-height: 25px;
  text-align: center;
  padding: 0;
  border-radius: 8px;
  border: solid 4px #E0EBC9;
  background-color: #07742F;
  color :white;
  box-shadow: 0px 3px 2px #092e01;
  cursor: pointer;
  transition: 0.5s;
}

.search > .btn:hover {
background-color: #E0EBC9;
color :black;
}

.search > .btn:active {
box-shadow: 0px 0px;
}

.tournament-list-size {
  width: 70%;
  margin: 0 auto;
}

.tournament-new {
  border: solid 1px black;
  border-radius: 4px;
  display: inline-block;
  padding: 5px;
  background-color: white;
}

.search-year {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.search-year .pre,
.search-year .pst,
.search-year .year {
  text-align: center;
  height: 2.0rem;
  font-size: 1.3rem;
  border: solid 1px black;
  background-color: white;
  border-radius: 4px;
  padding: 0 5px;
  margin: 5px 1px;
}

.tournament-list-size > .month-list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  background-color: white;
  margin: 5px 0;
  border-radius: 4px;
}

.month-list > .month {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  margin: 5px;
  background-color: white;
  border-bottom: solid 2px #07742F;
  border-left: solid 2px white;
  border-right: solid 2px white;

}

.tournament-list-size > .containers {
  display: inline-block;
  width: 100%;
  border-top: solid 2px black;
  box-sizing: border-box;
  background-color: white;
}

.tournament-list-size > .containers > .container {
  display: inline-block;
  width: 100%;
  border-left: solid 2px black;
  border-bottom: solid 2px black;
  border-right: solid 2px black;
  box-sizing: border-box;
  padding: 5px;
}

.tournament-list-size > .containers > .container > div {
  display: inline-block;
}

.tournament-list-size > .containers > .container > .tournament-date {
  width: 10%;
}

.tournament-list-size > .containers > .container > .tournament-name {
  width: 80%;
  font-weight: bold;
  font-size: 1.6rem;
}

.tournament-list-size > .containers > .container > .tournament-grades {
  width: 80%;
  margin-left: 20px;
}

.tournament-list-size > .containers > .container > .tournament-place {
  width: 80%;
  margin-left: 20px;
}

.tournament-list-size > .containers > .container > .tournament-result {
  float: right;
  margin-right: 20px;
  text-decoration: underline;
}

.container > div > .tournament-link {
  color: #07742F;
}
